target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Maven
*/target/**

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Local user-specific configuration
**/thumbnail.user.properties



# Temp files
*~
*.bak
.DS_Store

.env
.env.*
!.env.example

