<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- Use this pattern for Kubernetes deployments -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %level %C:%L [%t] - %m%n" />
           
            <!-- Optional pattern with color encoding for local debugging -->
            <!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} %highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} %C:%L [%t] %logger{36} - %m%n" /> -->
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="eu.europeana.thumbnail.config.StorageRoutes" level="INFO"/>

        <!-- Set to debug to see how routes are resolved and linked to configured storages-->
        <Logger name="eu.europeana.thumbnail.service.StoragesService" level="INFO"/>

        <!-- Set to debug to see in what storage a file was found (or not) and log processing time -->
        <Logger name="eu.europeana.thumbnail.web.AbstractController" level="INFO"/>

        <Logger name="eu.europeana.thumbnail.web.ThumbnailControllerV2" level="INFO"/>
        <Logger name="eu.europeana.thumbnail.web.ThumbnailControllerV3" level="INFO"/>
    </Loggers>
</Configuration>
